#titlePage2{
    text-align: center;
}

#page2List{
    margin-left: 5%;
    margin-top: 15%;
    border: 1px solid black;
    width: 94%;
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    }
    
    #borderDivParent{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: space-between;
    }

    #borderDiv{
        border: 2px solid rgb(8, 8, 8);
        background-color:rgb(184, 184, 184);
        height: 250px;
        width: 30%;
        margin-top: 6%;
        margin-left: 35%; 
        flex-direction: row;
        flex-flow: row;
        
        
    }
    
    ul{
        margin: 0;
        border-left: 10px solid;
        list-style-type: none;
        padding: 0;
    
    }

    ul li{
        cursor: pointer;
        position: relative;
        padding: 12px 8px 12px 40px;
    }

    li{
    margin: 10px 0;
    }
    
    #ul button{
        height: 40px;
        width: 40px;
        border-radius: 50%;
    
    
    }
    
    label ~ button{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    } 
    
    label ~ button:hover{
        background-color: black;
        color: white;
    }
    
    .delete{
        margin-left: 350px;
        border-left: cadetblue;
        border-radius: 7px;
        cursor: pointer;

        
        
    }
    .delete:hover{
        background-color: rgb(204, 220, 137);
        color: rgb(49, 47, 47);
    }
    #btnContainer{
        
        margin-top: -9%;
        margin-left: 3%;
        display: flex;
        height: 40px;
        width: 120px;
        background-color: rgb(173, 173, 174)
    }
     
    #btnContainer span{
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 00.5s;
    }
    #btnContainer span::after{
        content: '«';
        position: absolute;
        opacity: 0;
        top: -0;
        left: -20px;
        transition: 0.5s;
    }
    #btnContainer:hover span{
        padding-left: 25px;
        cursor: pointer;

    }
    #btnContainer:hover span::after{
        opacity: 1;
        left: 0;
    }

    /* #backBtn{
    margin-left: -40%;
    margin-top: -10%;
    width: 150px;
    height: 70px;
    font-size: 25px;
    border-radius: 10%;
    cursor: pointer;
    transition-duration: 0.4;
    } */
    /* #backBtn:hover{
        background-color:rgb(8, 28, 94);
        color: rgb(180, 175, 175);
        border: 2px solid rgb(6, 84, 148);
    } */
    