
body{ /*Remove white bar at top and sides*/
    padding: 0;
    margin: 0;
    background: rgba(4, 4, 8, 0.712);
    overflow-x: hidden;
}

.border_1{
    border: 2px solid rgb(68, 16, 16);
    padding: 15px;
}
.border_2{
    padding: 20px;
    border: 2px solid;
    background-color: rgba(0, 0, 2, 0.493);
}

#showcase{
width: 100%;
max-height: 150%;
background-repeat: no-repeat;
background-position: center;
}

#moviePic1{
    margin-top: -25%;
    margin-left: 3%;
}

.movieBorderBox{
    width: 1000px;
    height: 520px;
    border: 1px solid rgb(31, 36, 49);
    margin: 0% 50% 0 25%;
    background: rgb(146, 120, 120);
    border-width: 8px;  
    opacity: 0.6;  

}
.movieBorderBox::before{
    border-width: 30px;
    border-color: tomato;
    bottom: 100%;
    left: 50%;
}

.frontTitle{
    text-align: center;
    margin-top: 0%;
}

#movieInput{
margin-top: 125px;
margin-left: 300px;


}
#movieTitleInput{
    height: 25px;
    width: 300px;
}
#genres{
    width: 300px;
}

#submitMovie{
    margin-top: 5%;
    margin-left: 25%;
    border-radius: 0;
    height: 25px;
    width: 100px;

    
}

    

#showcase{
    min-height: 35vh;
}

/*Animated button*/
#nxtBtn{
    margin-left: 85%;
    margin-top: 15%;
    width: 100px;
    height: 50px;

}
#nxtBtn span{
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}
#nxtBtn span::after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
#nxtBtn:hover span{
    padding-right: 25px;
}
#nxtBtn:hover span:after{
    opacity: 1;
    right: 0;
}






/* #footer{
    position: fixed;
    padding: 10px 10px 10px 10px;
    bottom: 0;
    background: chocolate;
    text-align: center;
    width: 100%;
    height: 1%;
    opacity: 0.2;
} */
